/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .single-image img{
        max-width: 100%;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .single-image img{
        max-width: 100%;
    }
    .menu-area{
        margin: 0;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .single-image img{
        max-width: 100%;
    }
    .menu-area{
        margin: 0;
    }
    .blog-image img{
       width: 100%;
    }
    .newsletter-form button{
        right: 10px;
    }
    h2{
        font-size: 25px;
    }
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .single-image img{
        max-width: 100%;
    }
    .logo-area{
        text-align: center;
    }
    .menu-area{
        margin: 0;
        margin-bottom: 50px;
    }
    .right-area{
        margin-top: -28px;
        margin-right: 50px;
    }
    .newsletter-form button{
        right: 10px;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width:450px
    }
    .blog-image img{
        width: 100%;
     }
}
